<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自主式交通系统互操作验证平台</title>
    <link rel="icon" type="image/png" href="/static/icon/bupt_logo.png"/>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/icon/bupt_logo.png"/>
            <span class="header-title">自主式交通系统互操作验证平台</span>
            <div class="my-car-id">车辆编号: 
                <span id="car-id">N/A</span>
            </div>
            <div class="my-car-state">
                <div class="car-state-item">经度: 
                    <span id="longitude">N/A</span>
                </div>
                <div class="car-state-item">航向: 
                    <span id="heading">N/A</span>
                </div>
                <div class="car-state-item">纬度: 
                    <span id="latitude">N/A</span>
                </div>
                <div class="car-state-item">速度: 
                    <span id="speed">N/A</span>
                </div>
            </div>
            <div class="button">模式选择</div>
            <div class="button">工作状态</div>
            <span class="state">状态</span>
        </div>
        <div class="main">
            <div class="pcd-container">
                <img class="pcd-viewer" src="{{ url_for('get_pcd_img') }}">
            </div>
            <div class="coop-map-containers">
                <div class="coop-map-container">
                    <img class="coop-map-viewer" src="{{ url_for('get_request_map') }}">
                    <div class="coop-map-title">请求图</div>
                </div>
                <div class="coop-map-container">
                    <img class="coop-map-viewer" src="{{ url_for('get_others_comm_mask') }}">
                    <div class="coop-map-title">协作图</div>
                </div>
            </div>
        </div>
        <div class="feature-containers">
            <div class="feature-container">
                <img class="feature-viewer" src="{{ url_for('get_ego_feature') }}">
                <div class="feature-title">本车特征图</div>
            </div>
            <div class="feature-container">
                    <img class="feature-viewer" src="{{ url_for('get_fused_feature') }}">
                <div class="feature-title">融合特征图</div>
            </div>
        </div>
        <div class="footer">
            <span>通信指标：语义数据交互码率</span>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>